ul.sidebar-list{
    padding: 10px 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    li.sidebar-item{
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #544545;
        &:last-child{
            margin-bottom: 0;
        }
        .sidebar-link{
            display: block;
            padding: 5px 10px 5px 15px;
            cursor: pointer;
            &:hover, &:active{
                color: #EE5142;
            }
            .sidebar-icon{
                width: 44px;
                height: 44px;
                margin: 0 auto 5px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F3EEEE;
                border-radius: 10px;
            }
        }
    }
}